<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zahid linkedin page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="medical.css">
</head>
<body>
    <section class="text-center">
        <iframe src="" height="520" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
    <a href="https://www.linkedin.com/in/zahid-sayyad-349763236/?trk=public_post-embed_share-update_actor-text&originalSubdomain=in" target="_blank" class="btn btn-primary btn-lg">Linkedin</a>
    </section>
</body>
</html>